.card {
    width: 600px;
    padding: 70px;
    border-radius: 8px;
    color: #0b0b0b;
    box-shadow: 0 2px 10px #0000001a;

background-color: #fceced;
}

.page-center {
    height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
}


mat-card-title {
  font-size: 26px;
  color: #2B2B2B;
  margin-bottom: 12px;
}

mat-card-content p {
  color: #6B4E4E;
  font-size: 16px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}






