/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

.error {
    color: #f31f1f;
    background-color: #efe0e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
/* Full-screen overlay for the spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.100); /* Translucent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}
html, body { height: 100%; background-color: #FFD6D6; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
